@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: #ffffff;
  background-color: #213547;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box{
  @apply inline-block w-fit py-3 px-6 border rounded-2xl border-white
}

.box-input{
  @apply inline-block w-fit py-3 px-6 border rounded-2xl 
}

.container-label{
  @apply !flex justify-between items-center gap-2 !w-full font-medium
}
