@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    @apply inline-block py-3 px-6 w-full;
  }
  .border-rounded-white {
    @apply border rounded-2xl border-white;
  }
  .box-input {
    @apply inline-block py-3 px-6 rounded-2xl w-full;
  }

  .container-label {
    @apply !flex justify-between items-center gap-2 !w-full font-medium;
  }

}

:root {
  color-scheme: dark;
  color: #ffffff;
  background-color: #213547;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  field-sizing: content;
  @apply max-h-[120px] overflow-hidden;
}

.no-valid {
  @apply border border-red-400;
}

::placeholder {
  @apply !font-medium !text-white/60;
}





.error-message {
  @apply text-red-500 text-balance;
}

button:disabled {
  @apply bg-slate-300;
}

label {
  @apply text-white container-label;
}

input,
select {
  @apply box-input bg-[#2A2A2A] text-white;
}

select{
  @apply border-r-[16px] border-transparent;
}